:root {
	--shadow-dark:0 6px 10px rgba(40,40,40,0.2);
	--shadow-darker:0 6px 10px rgba(40,40,40,0.4);
	--font-family:'Helvetica Neue', 'Lucida Grande', 'Tahoma', 'Verdana', 'Arial', sans-serif;
}
html {
	font-family:var(--font-family);
}
body {
	background:rgb(230,230,230);
	color:rgb(75,75,75);
	margin:0;
	padding:0;
	overflow:hidden;
}
a {
	text-decoration:none;
}
button {
	border:none;
	outline:none;
}
.noselect {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

::-webkit-scrollbar {
	display:none;
}

.body-wrapper {
	position:absolute;
	z-index:10;
	top:0;
	left:0;
	width:100%;
	height:100%;
	transition:left 0.25s;
}

.icon-wrapper {
	position:absolute;
	z-index:10;
	width:60px;
	height:60px;
	overflow:hidden;
	border-radius:50%;
	cursor:pointer;
	transition:box-shadow 0.25s;
	background:rgb(250,250,250);
	box-shadow:var(--shadow-dark);
}
.icon-wrapper:hover {
	box-shadow:var(--shadow-darker);
}
.icon-wrapper .menu-icon {
	width:30px;
	height:30px;
	padding:15px;
	fill:url("#gradient-menu");
	shape-rendering:geometricPrecision;
}
.icon-wrapper.menu {
	top:20px;
	left:20px;
}
.icon-wrapper .reset-icon {
	width:30px;
	height:30px;
	padding:15px;
	fill:url("#gradient-reset");
	shape-rendering:geometricPrecision;
}
.icon-wrapper.reset {
	top:100px;
	left:20px;
}
.icon-wrapper .github-icon {
	width:30px;
	height:30px;
	padding:15px;
	fill:url("#gradient-github");
	shape-rendering:geometricPrecision;
}
.icon-wrapper.github {
	top:20px;
	right:20px;
}

.icon-title {
	position:absolute;
	background:rgb(250,250,250);
	color:rgb(100,100,100);
	font-weight:bold;
	font-size:14px;
	line-height:40px;
	padding:0 15px 0 15px;
	border-radius:20px;
	text-align:center;
	opacity:0;
	transition:opacity 0.35s;
}
.icon-title.menu {
	left:90px;
	top:30px;
}
.icon-title.reset {
	left:90px;
	top:110px;
}
.icon-title.github {
	right:90px;
	top:30px;
}

.cards-wrapper {
	position:absolute;
	height:calc(100% - 100px);
	top:100px;
	left:0;
	width:100%;
	text-align:center;
	font-size:0;
}
.card {
	display:inline-block;
	background:rgb(250,250,250);
	width:calc(40% - 40px);
	height:205px;
	overflow:hidden;
	margin:20px;
	vertical-align:top;
	padding:20px;
	border-radius:20px;
	box-shadow:var(--shadow-dark);
	transition:box-shadow 0.25s;
	cursor:pointer;
}
.card:hover {
	box-shadow:var(--shadow-darker);
}
.card-icon-wrapper {
	padding-top:20px;
}
.card-icon-wrapper svg {
	width:64px;
	height:64px;
	padding:15px;
	shape-rendering:geometricPrecision;
}
.card-icon-wrapper .info-icon {
	fill:url("#gradient-info");
}
.card-icon-wrapper .play-icon {
	fill:url("#gradient-play");
}
.card-icon-wrapper .settings-icon {
	fill:url("#gradient-settings");
}
.card-icon-wrapper .light-icon {
	fill:url("#gradient-light");
}
.card-title-wrapper {
	padding:10px 0 10px 0;
}
.card-title {
	font-size:18px;
	color:rgb(100,100,100);
	font-weight:bold;
}
.card-description-wrapper {
	padding:5px 0 10px 0;
}
.card-description {
	font-size:14px;
	color:rgb(150,150,150);
}

.menu-wrapper {
	position:absolute;
	left:0;
	top:0;
	z-index:11;
	width:0;
	overflow:hidden;
	height:100%;
	transition:width 0.25s;
	background:rgb(250,250,250);
	box-shadow:var(--shadow-dark);
}
.menu-wrapper span {
	display:block;
	font-size:16px;
	font-weight:bold;
	color:rgb(125,125,125);
	line-height:60px;
	width:calc(100% - 40px);
	padding:0 20px 0 20px;
	transition:background 0.25s, color 0.25s;
	background:rgb(240,240,240);
}
.menu-wrapper a:nth-of-type(odd) span {
	background:rgb(250,250,250);
}
.menu-wrapper a:hover span, .menu-wrapper a.active span {
	background:rgb(125,125,125);
	color:rgb(250,250,250);
}

.application-header-wrapper {
	width:400px;
	position:absolute;
	top:20px;
	font-size:0;
	left:calc(50% - 400px / 2);
	display:block;
	text-align:center;
	height:60px;
}
.application-score {
	width:60px;
	font-weight:bold;
	font-size:18px;
	box-shadow:var(--shadow-dark);
	border-radius:20px;
	display:inline-block;
	text-align:center;
	line-height:60px;
	background:rgb(250,250,250);
	color:rgb(100,100,100);
}
.application-score.x {
	background:#c6ecff;
	color:#6186f6;
}
.application-score.o {
	background:#ffc6e4;
	color:#dc529b;
}
.application-header {
	width:240px;
	font-weight:bold;
	font-size:18px;
	margin:0 20px 0 20px;
	box-shadow:var(--shadow-dark);
	border-radius:20px;
	display:inline-block;
	text-align:center;
	line-height:60px;
	background:rgb(250,250,250);
	color:rgb(100,100,100);
}
.application-player {
	text-transform:uppercase;
	color:#6186f6;
}
.application-player[data-player="x"] {
	color:#6186f6;
}
.application-player[data-player="o"] {
	color:#dc529b;
}

.application-wrapper {
	position:absolute;
	background:rgb(250,250,250);
	box-shadow:var(--shadow-dark);
	width:400px;
	height:400px;
	top:calc(50% - 400px / 2);
	left:calc(50% - 400px / 2);
	overflow:hidden;
	border-radius:20px;
}
.application-overlay {
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:14;
	position:absolute;
	background:rgba(0,0,0,0.8);
	display:none;
}
.application-restart {
	position:absolute;
	z-index:15;
	padding:0;
	height:60px;
	width:200px;
	top:calc(50% - 60px / 2);
	left:calc(50% - 200px / 2);
	color:rgb(100,100,100);
	font-size:20px;
	font-weight:bold;
	border-radius:20px;
	cursor:pointer;
	transition:opacity 0.25s;
	opacity:1;
	background:rgb(250,250,250);
}
.application-restart:hover {
	opacity:0.8;
}
.application-wrapper table {
	border-spacing:0;
	width:100%;
	height:100%;
}
.application-wrapper tr {
	width:100%;
	height:33.3333%;
}
.application-wrapper td {
	width:33.3333%;
	height:33.3333%;
	border-style:solid;
	border-width:0;
	border-color:rgb(200,200,200);
	transition:background 0.25s;
	cursor:pointer;
	font-size:54px;
	font-weight:bold;
	text-transform:uppercase;
	text-align:center;
	color:rgb(150,150,150);
}
.application-wrapper td:hover {
	background:rgb(230,230,230);
}
.application-wrapper .top.left {
	border-width:0 0 4px 0;
}
.application-wrapper .top.middle {
	border-width:0 4px 4px 4px;
}
.application-wrapper .top.right {
	border-width:0 0 4px 0;
}
.application-wrapper .middle.left {
	border-width:0 0 4px 0;
}
.application-wrapper .middle.center {
	border-width:0 4px 4px 4px;
}
.application-wrapper .middle.right {
	border-width:0 0 4px 0;
}
.application-wrapper .bottom.left {
	border-width:0;
}
.application-wrapper .bottom.middle {
	border-width:0 4px 0 4px;
}
.application-wrapper .bottom.right {
	border-width:0;
}