:root {
	--shadow-dark:0 6px 10px rgba(40,40,40,0.2);
	--shadow-darker:0 6px 10px rgba(40,40,40,0.4);
	--font-family:'Helvetica Neue', 'Lucida Grande', 'Tahoma', 'Verdana', 'Arial', sans-serif;
}
html {
	font-family:var(--font-family);
}
body {
	background:rgb(230,230,230);
	color:rgb(75,75,75);
	margin:0;
	padding:0;
	overflow:hidden;
}
a {
	text-decoration:none;
}
.noselect {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.body-wrapper {
	position:absolute;
	z-index:10;
	top:0;
	left:0;
	width:100%;
	height:100%;
	transition:left 0.25s;
}

.icon-wrapper {
	position:absolute;
	z-index:10;
	width:60px;
	height:60px;
	overflow:hidden;
	border-radius:50%;
	cursor:pointer;
	transition:box-shadow 0.25s;
	background:rgb(250,250,250);
	box-shadow:var(--shadow-dark);
}
.icon-wrapper:hover {
	box-shadow:var(--shadow-darker);
}
.icon-wrapper .menu-icon {
	width:30px;
	height:30px;
	padding:15px;
	fill:url("#gradient-menu");
	shape-rendering:geometricPrecision;
}
.icon-wrapper.menu {
	top:20px;
	left:20px;
}
.icon-wrapper .github-icon {
	width:30px;
	height:30px;
	padding:15px;
	fill:url("#gradient-github");
	shape-rendering:geometricPrecision;
}
.icon-wrapper.github {
	top:20px;
	right:20px;
}

.menu-wrapper {
	position:absolute;
	left:0;
	top:0;
	z-index:11;
	width:0;
	overflow:hidden;
	height:100%;
	transition:width 0.25s;
	background:rgb(250,250,250);
	box-shadow:var(--shadow-dark);
}
.menu-wrapper span {
	display:block;
	font-size:16px;
	font-weight:bold;
	color:rgb(125,125,125);
	line-height:60px;
	width:calc(100% - 40px);
	padding:0 20px 0 20px;
	transition:background 0.25s, color 0.25s;
	background:rgb(240,240,240);
}
.menu-wrapper a:nth-of-type(odd) span {
	background:rgb(250,250,250);
}
.menu-wrapper a:hover span, .menu-wrapper a.active span {
	background:rgb(125,125,125);
	color:rgb(250,250,250);
}